  
    
    .navbar {
            background-color: #007bff;
            color: white;
            border: none;
        }
        .navbar-brand {
            color: white !important;
            font-weight: bold;
        }
        .navbar-nav > li > a {
            color: white !important;
        }
        .navbar-nav > li > a:hover {
            background-color: #0056b3;
            color: white !important;
        }
        .navbar-form {
            margin-right: 0;
        }
        .form-control {
            width: 250px;
        }
